<!DOCTYPE html>
<html>
<head>
    <title>Teender</title>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1076126682077-gjerltlnjjv82bfhqov225tq05k5gsu8.apps.googleusercontent.com">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 269px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff6600; /* hover background green */
}
</style>
</head>

<body style="background-color:green;">
    <img src="teender.png" alt="Teender">
    <nav>
      <ol>
        <li><a href="#Home">Home</a></li>
        <li><a href="#About Us">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ol>
    </nav>
    <h1 id="Home">Welcome to Teender</h1>
    
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <div id="g-signin2" data-onsuccess="onSignIn"></div>
    
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      };
      function renderButton(){
        gapi.signin2.render("g-signin2",{
          'scope': 'profile,email',
          'theme': 'dark',
          'onsuccess': onSignIn,
          'onfailure':onFailure
        });
        function onFailure(error){
          console.log(error);
        }
      }
    </script>
    <a href="#" onclick="signOut();">Sign out</a>
    
    <p id="About Us">Teender is a teen dating and social networking application.</p>
</body>
</html>