<!doctype html>
<html>
<head>
    <title>CloudCard</title>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <br>
    <div class="jumbotron">
        <div class="container">
            <h1><i class="fa fa-cloud" aria-hidden="true"></i> CloudCard</h1>
            <p>The interactive learning tool for the connected classroom</p>
        </div>
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert"
         id="schoolNotRegistered" data-toggle="modal" data-target="#infomodal">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        It seems like your school has not registered yet.
    </div>
</div>
</body>
</html>